---
http_interactions:
- request:
    method: post
    uri: https://api.cognitive.microsoft.com/sts/v1.0/issueToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - foobar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jwt; charset=us-ascii
    body:
      encoding: UTF-8
      string: hoge
  recorded_at: Mon, 01 May 2017 04:34:06 GMT
- request:
    method: post
    uri: http://api.microsofttranslator.com/V2/Http.svc/TranslateArray
    body:
      encoding: UTF-8
      string: "<TranslateArrayRequest><AppId/><From>ja</From><Options><ContentType
        xmlns='http://schemas.datacontract.org/2004/07/Microsoft.MT.Web.Service.V2'>text/html</ContentType></Options><Texts><string
        xmlns='http://schemas.microsoft.com/2003/10/Serialization/Arrays'>おはよう</string><string
        xmlns='http://schemas.microsoft.com/2003/10/Serialization/Arrays'>こんにちは</string><string
        xmlns='http://schemas.microsoft.com/2003/10/Serialization/Arrays'>こんばんは</string></Texts><To>en</To></TranslateArrayRequest>"
    headers:
      Authorization:
      - Bearer hoge
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Ms-Trans-Info:
      - 1250.V2_Rest.TranslateArray.4CD1D2E2
    body:
      encoding: UTF-8
      string: <ArrayOfTranslateArrayResponse xmlns="http://schemas.datacontract.org/2004/07/Microsoft.MT.Web.Service.V2"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><TranslateArrayResponse><From>ja</From><OriginalTextSentenceLengths
        xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:int>4</a:int></OriginalTextSentenceLengths><TranslatedText>Good
        morning</TranslatedText><TranslatedTextSentenceLengths xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:int>12</a:int></TranslatedTextSentenceLengths></TranslateArrayResponse><TranslateArrayResponse><From>ja</From><OriginalTextSentenceLengths
        xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:int>5</a:int></OriginalTextSentenceLengths><TranslatedText>Hello</TranslatedText><TranslatedTextSentenceLengths
        xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:int>5</a:int></TranslatedTextSentenceLengths></TranslateArrayResponse><TranslateArrayResponse><From>ja</From><OriginalTextSentenceLengths
        xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:int>5</a:int></OriginalTextSentenceLengths><TranslatedText>Good
        evening</TranslatedText><TranslatedTextSentenceLengths xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><a:int>12</a:int></TranslatedTextSentenceLengths></TranslateArrayResponse></ArrayOfTranslateArrayResponse>
  recorded_at: Mon, 01 May 2017 04:34:06 GMT
recorded_with: VCR 2.9.3
