---
http_interactions:
- request:
    method: post
    uri: https://datamarket.accesscontrol.windows.net/v2/OAuth2-13
    body:
      encoding: UTF-8
      string: client_id=foobar&client_secret=hogehoge&grant_type=client_credentials&scope=http%3A%2F%2Fapi.microsofttranslator.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"http://schemas.xmlsoap.org/ws/2009/11/swt-token-profile-1.0","access_token":"http%3a%2f%2fschemas.xmlsoap.org","expires_in":"600","scope":"http://api.microsofttranslator.com"}'
  recorded_at: Fri, 19 Jun 2015 09:04:13 GMT
- request:
    method: get
    uri: http://api.microsofttranslator.com/v2/HTTP.svc/Translate?from=ja&text=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&to=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer http%3a%2f%2fschemas.xmlsoap.org
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Ms-Trans-Info:
      - 3627.V2_Rest.Translate.32BEC200
    body:
      encoding: UTF-8
      string: <string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">Hello</string>
  recorded_at: Fri, 19 Jun 2015 09:04:14 GMT
recorded_with: VCR 2.9.3
